<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>My Informations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css"/>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
</head>
<body>
<h1>My Informations</h1>
<a th:href="@{/information/add}">Add New Information</a>
<a th:href="@{/category/add}">Add New Category</a>
<div th:if="${successMessage}" class="alert alert-success" role="alert">
    <p th:text="${successMessage}"></p>
</div>

<form action="#" th:action="@{/my-informations}" method="get">
    <label for="category">Category:</label>
    <select id="category" name="categoryId">
        <option value="">All</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == selectedCategoryId}"></option>
    </select>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" th:value="${startDate}"/>
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" th:value="${endDate}"/>
    <button type="submit">Filter</button>
    <button type="button" class="clear-filters" onclick="window.location.href='/my-informations'">Clear Filters</button>
</form>
<button id="saveOrderBtn">Save Order</button>
<button id="clearSavedOrderBtn" disabled>Clear saved order</button>
<table id="myInfoTable" class="display">
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Link</th>
        <th>Category</th>
        <th>Date Added</th>
        <th>Shared with</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="info : ${myInformations}">
        <td th:text="${info.title}">Title</td>
        <td th:text="${info.content}">Content</td>
        <td><a th:href="@{/information/shared/{shareableLink}(shareableLink=${info.shareableLink})}" th:text="${info.shareableLink}">Link</a></td>
        <td th:text="${info.category.name}">Category</td>
        <td th:text="${info.dateAdded}">Date Added</td>
        <td>
            <ul>
                <li th:each="user : ${info.sharedWithUsers}" th:text="${user.username}">Użytkownik</li>
            </ul>
        </td>
        <td>
            <a th:href="@{/information/view/{id}(id=${info.id})}">View</a>
            <a th:href="@{/information/edit/{id}(id=${info.id})}">Edit</a>
            <a th:href="@{/information/share/{id}(id=${info.id})}">Share</a>
            <a th:href="@{/information/share-with-user/{id}(id=${info.id})}">Share with user</a>
            <a th:href="@{/information/delete/{id}(id=${info.id})}"
               onclick="return confirm('Are you sure you want to delete this information?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/">Back</a>
<script th:inline="javascript">
    $(document).ready(function () {
        function unescapeAll(inputString) {
            return inputString.replace(/\\(.)/g, '$1');
        }

        var savedOrder = /*[[${savedOrder}]]*/ '';
        savedOrder = unescapeAll(savedOrder);

        var table = $('#myInfoTable').DataTable();

        if (savedOrder) {
            $('#clearSavedOrderBtn').prop('disabled', false);
            table.state.clear();
            table.state({ order: JSON.parse(savedOrder) });
            table.draw();
        }

        $('#saveOrderBtn').on('click', function() {
            var order = JSON.stringify(table.state().order);
            window.location.href = '/my-informations/save-order?order=' + encodeURIComponent(order);
        });

        $('#clearSavedOrderBtn').on('click', function() {
            window.location.href = '/my-informations/clear-order';
        });
    });
</script>
</body>
</html>
