<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<div th:if="${param.error}">
    Username already exists. Please choose another username.</div>
<form th:action="@{/register}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username" required/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" required/>
    </div>
    <input type="submit" value="Register" />
</form>
</body>
</html>
