<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<div th:if="${error}">
    <p>Username already exists. Please choose another username.</p>
</div>
<form th:action="@{/register}" method="post" th:object="${user}">
    <div>
        <input type="text" th:field="*{firstName}" placeholder="First Name" required/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name error</span>
    </div>
    <div>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" required/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name error</span>
    </div>
    <div>
        <input type="number" th:field="*{age}" placeholder="Age" required/>
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</span>
    </div>
    <div>
        <input type="text" th:field="*{username}" placeholder="Username" required/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
    </div>
    <div>
        <input type="password" th:field="*{password}" placeholder="Password" required/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
    </div>
    <input type="submit" value="Register"/>
</form>
</body>
</html>
